@font-face {
    font-family: 'Roboto'; 
    src: url('../content/fonts/roboto/Roboto-Regular.ttf') format('truetype'); 
  }

*
{
    scroll-behavior: smooth;
    font-family: 'Roboto', sans-serif;

    --link-color: #333;
    --link-size: 1.25rem;
}

body
{
    margin: 0;
    overflow-x: hidden;
}

.nav
{
    position: fixed;
    float: left;

    left: 0;
    width: 100%;
    z-index: 100;
}

.nav ul
{
    display: flex;

    width: 100%;
    height: 48px;

    left:0;

    margin: 0;
    padding: 0;
    
    flex-direction: row;
    justify-content: center;
    vertical-align: middle;
    align-items: center;

    list-style: none;

    background: rgba(255, 255, 255, 0.5);
}

.nav ul li
{
    display:flex;
    align-items: center;
    justify-content: center;

    width: 100%;
    height: 100%;
    box-shadow: inset 0 0 2px 2px rgba(0, 0, 0, 0.5); /* Apply an inset shadow effect 
}

.nav ul li a
{
    text-decoration: none; /* Remove underline */
    color: var(--link-color);
    font-size: var(--link-size);
}

.content
{
    position: absolute;
    
    left:0;
    top: 0;
    width: 100%;
    height: 100%;

    display:grid;
    grid-column: 1;
}

.content section
{
    width: 100vw;
    height: 100vh;
}

.content-bgvideo
{
    position: absolute;

    width: auto;
    height: 75vh;

    background-size: 100% 100%;
}


.social-button {
  --c: #fff;
  /* text color */
  background: linear-gradient(90deg, #0000 33%, #fff5, #0000 67%) var(--_p,100%)/300% no-repeat,
    #004dff;
  /* background color */
  color: #0000;
  border: none;
  transform: perspective(500px) rotateY(calc(20deg*var(--_i,-1)));
  text-shadow: calc(var(--_i,-1)* 0.08em) -.01em 0   var(--c),
    calc(var(--_i,-1)*-0.08em)  .01em 2px #0004;
  outline-offset: .1em;
  transition: 0.3s;
}

.social-button:hover,
.social-button:focus-visible {
  --_p: 0%;
  --_i: 1;
}

.social-button:active {
  text-shadow: none;
  color: var(--c);
  box-shadow: inset 0 0 9e9q #0005;
  transition: 0s;
}

.social-button {
  font-weight: bold;
  font-size: 2rem;
  margin: 0;
  cursor: pointer;
  padding: .1em .3em;
}

#vid-1
{
    left: -250px;
}